<a href="https://colab.research.google.com/github/SneburAzuos/Java-A3/blob/main/a3_ml.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **A3 Machine Learning**

Importando as bibliotecas

In [24]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt


#Importando o dataset para o notebook
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/autoscout24-germany-dataset.csv")
print(df)

       mileage        make   model               fuel    gear       offerType  \
0       235000         BMW     316             Diesel  Manual            Used
1        92800  Volkswagen    Golf           Gasoline  Manual            Used
2       149300        SEAT    Exeo           Gasoline  Manual            Used
3        96200     Renault  Megane           Gasoline  Manual            Used
4       156000     Peugeot     308           Gasoline  Manual            Used
...        ...         ...     ...                ...     ...             ...
46400       99        Fiat     500  Electric/Gasoline  Manual  Pre-registered
46401       99        Fiat     500  Electric/Gasoline  Manual  Pre-registered
46402       99        Fiat     500  Electric/Gasoline  Manual  Pre-registered
46403       99        Fiat     500  Electric/Gasoline  Manual  Pre-registered
46404       99        Fiat     500  Electric/Gasoline  Manual  Pre-registered

       price     hp  year
0       6800  116.0  2011
1       6877  122.0  2011
2       6900  160.0  2011
3       6950  110.0  2011
4       6950  156.0  2011
...      ...    ...   ...
46400  12990   71.0  2021
46401  12990   71.0  2021
46402  12990   71.0  2021
46403  12990   71.0  2021
46404  12990   71.0  2021

[46405 rows x 9 columns]

# Nova seção

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

1. Analise Exploratoria

In [11]:
# verificar o número de linhas e colunas do dataframe
df.shape

(46071, 9)

In [12]:
# Utilizar o método info() para visualizar as informações do dataframe
df.info

<bound method DataFrame.info of        mileage        make   model      fuel    gear       offerType  price  \
0       235000         BMW     316    Diesel  Manual            Used   6800
1        92800  Volkswagen    Golf  Gasoline  Manual            Used   6877
2       149300        SEAT    Exeo  Gasoline  Manual            Used   6900
3        96200     Renault  Megane  Gasoline  Manual            Used   6950
4       156000     Peugeot     308  Gasoline  Manual            Used   6950
...        ...         ...     ...       ...     ...             ...    ...
46400       99        Fiat     500    Hybrid  Manual  Pre-registered  12990
46401       99        Fiat     500    Hybrid  Manual  Pre-registered  12990
46402       99        Fiat     500    Hybrid  Manual  Pre-registered  12990
46403       99        Fiat     500    Hybrid  Manual  Pre-registered  12990
46404       99        Fiat     500    Hybrid  Manual  Pre-registered  12990

          hp  year
0      116.0  2011
1      122.0  2011
2      160.0  2011
3      110.0  2011
4      156.0  2011
...      ...   ...
46400   71.0  2021
46401   71.0  2021
46402   71.0  2021
46403   71.0  2021
46404   71.0  2021

[46071 rows x 9 columns]>

In [5]:
#limpando as colunas vazias/// Primeiro fiz uma contagem de quantos valores vazios tinha no dataset
df.isnull().sum()

mileage        0
make           0
model        143
fuel           0
gear         182
offerType      0
price          0
hp            29
year           0
dtype: int64

In [14]:
#apagar linhas duplicadas
df = df.drop_duplicates()

In [15]:
df.shape

(43947, 9)

In [18]:
#Limpei os valores vazios do dataset
formaA = df.shape
print("Numero de colunas antes:", formaA)
df.dropna(subset=['model','gear','hp'], inplace=True)
formaD = df.shape
print("Numero de colunas depois:", formaD)


print("\n\n\n", df)

Numero de colunas antes: (43947, 9)
Numero de colunas depois: (43947, 9)



        mileage        make   model      fuel    gear       offerType  price  \
0       235000         BMW     316    Diesel  Manual            Used   6800
1        92800  Volkswagen    Golf  Gasoline  Manual            Used   6877
2       149300        SEAT    Exeo  Gasoline  Manual            Used   6900
3        96200     Renault  Megane  Gasoline  Manual            Used   6950
4       156000     Peugeot     308  Gasoline  Manual            Used   6950
...        ...         ...     ...       ...     ...             ...    ...
46394       10     Citroen      C1  Gasoline  Manual  Pre-registered  12340
46396       99        Fiat     500    Hybrid  Manual  Pre-registered  12490
46397      550        Fiat     500    Hybrid  Manual   Demonstration  12805
46398      837        Fiat   Panda    Hybrid  Manual   Demonstration  12805
46399     1500       Skoda   Fabia  Gasoline  Manual   Demonstration  12980

          hp  year
0      116.0  2011
1      122.0  2011
2      160.0  2011
3      110.0  2011
4      156.0  2011
...      ...   ...
46394   72.0  2021
46396   71.0  2021
46397   69.0  2021
46398   69.0  2021
46399   60.0  2021

[43947 rows x 9 columns]

In [7]:
#Trocando um nome para outro
df['fuel'] = df ['fuel'].replace(['Electric/Gasoline'], 'Hybrid')
print(df)

       mileage        make   model      fuel    gear       offerType  price  \
0       235000         BMW     316    Diesel  Manual            Used   6800
1        92800  Volkswagen    Golf  Gasoline  Manual            Used   6877
2       149300        SEAT    Exeo  Gasoline  Manual            Used   6900
3        96200     Renault  Megane  Gasoline  Manual            Used   6950
4       156000     Peugeot     308  Gasoline  Manual            Used   6950
...        ...         ...     ...       ...     ...             ...    ...
46400       99        Fiat     500    Hybrid  Manual  Pre-registered  12990
46401       99        Fiat     500    Hybrid  Manual  Pre-registered  12990
46402       99        Fiat     500    Hybrid  Manual  Pre-registered  12990
46403       99        Fiat     500    Hybrid  Manual  Pre-registered  12990
46404       99        Fiat     500    Hybrid  Manual  Pre-registered  12990

          hp  year
0      116.0  2011
1      122.0  2011
2      160.0  2011
3      110.0  2011
4      156.0  2011
...      ...   ...
46400   71.0  2021
46401   71.0  2021
46402   71.0  2021
46403   71.0  2021
46404   71.0  2021

[46071 rows x 9 columns]

In [8]:
#contagem de tipos de carros que não são usados ou novos
df.query('offerType=="Pre-registered"' )

,mileage,make,model,fuel,gear,offerType,price,hp,year
194,100,Fiat,Panda,Gasoline,Manual,Pre-registered,10600,69.0,2021
195,15,Fiat,Panda,Hybrid,Manual,Pre-registered,10680,69.0,2021
196,20,Toyota,Aygo,Gasoline,Manual,Pre-registered,10823,72.0,2021
197,15,Fiat,Panda,Hybrid,Manual,Pre-registered,10980,69.0,2021
198,15,Fiat,Panda,Hybrid,Manual,Pre-registered,10980,69.0,2021
...,...,...,...,...,...,...,...,...,...
46400,99,Fiat,500,Hybrid,Manual,Pre-registered,12990,71.0,2021
46401,99,Fiat,500,Hybrid,Manual,Pre-registered,12990,71.0,2021
46402,99,Fiat,500,Hybrid,Manual,Pre-registered,12990,71.0,2021
46403,99,Fiat,500,Hybrid,Manual,Pre-registered,12990,71.0,2021
46404,99,Fiat,500,Hybrid,Manual,Pre-registered,12990,71.0,2021

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46071 entries, 0 to 46404
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   mileage    46071 non-null  int64
 1   make       46071 non-null  object
 2   model      46071 non-null  object
 3   fuel       46071 non-null  object
 4   gear       46071 non-null  object
 5   offerType  46071 non-null  object
 6   price      46071 non-null  int64
 7   hp         46071 non-null  float64
 8   year       46071 non-null  int64
dtypes: float64(1), int64(3), object(5)
memory usage: 3.5+ MB

In [21]:
df.head(10)

,mileage,make,model,fuel,gear,offerType,price,hp,year
0,235000,BMW,316,Diesel,Manual,Used,6800,116.0,2011
1,92800,Volkswagen,Golf,Gasoline,Manual,Used,6877,122.0,2011
2,149300,SEAT,Exeo,Gasoline,Manual,Used,6900,160.0,2011
3,96200,Renault,Megane,Gasoline,Manual,Used,6950,110.0,2011
4,156000,Peugeot,308,Gasoline,Manual,Used,6950,156.0,2011
5,147000,Toyota,Auris,Hybrid,Automatic,Used,6950,99.0,2011
6,91894,Renault,Scenic,Diesel,Manual,Used,6970,131.0,2011
7,127500,Opel,Zafira,Gasoline,Manual,Used,6972,116.0,2011
8,115000,Mazda,3,Gasoline,Automatic,Used,6980,150.0,2011
9,104,Ford,Transit,Diesel,Manual,Used,6990,86.0,2011